* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: rgb(172,35,48);
  }
  
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    background-color: #FFD700;
    color: #4169e1;
    border-bottom: 4px solid #000000;
  }
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    /*align-items: center;*/
    gap: 50px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px;
    height: 100vh; /* Limit gallery height to the viewport */
  }
  
  .gallery-item {
    flex: 1 1 calc(15% - 5px);
  max-width: calc(15% - 5px);
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 8px; /* Space between the image and the text */
  }

  .gallery img {
    width: 120%; /* Set each image to take up 1/3 of the row minus the gap */
    height: 100%; 
    object-fit: cover;
    filter: grayscale(100%) sepia(30%) hue-rotate(200deg) saturate(80%);
    border-radius: 10px;
    transition: filter 0.3s ease; /* Smooth transition on hover */
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }

  .caption {
    text-align: center;
    font-size: 16px; /* Adjust as needed */
    word-wrap: break-word;
    white-space: normal; /* Ensure long text wraps */
    margin: 0;
    color:#23caca;
  
  }

  .gallery img.grayscale-off {
    filter: grayscale(0%) sepia(0%) hue-rotate(0deg) saturate(100%);
  }
  